.market-container {
  height: 100%;
  background-color: #1DA57A;
  .big-title {
    color: #fff;
    font-size: .85rem;
    padding: 30px 0 18px 0;
    text-align: center;
    letter-spacing: .25rem;
    border-bottom: 1px solid #fff;
    position: fixed;
    width: 100%;
  }
  .footer-bar {
    color: #fff;
    font-size: .65rem;
    padding: 18px 0 30px 0;
    text-align: center;
    letter-spacing: .15rem;
    border-top: 1px solid #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
